<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;${resource.name} <i class="fa fa-long-arrow-down" aria-hidden="true"></i></span>

<template data-sly-template.renderTextImageTwoColumn>

    <section
        data-sly-use.model="com.bbby.aem.core.models.component.TextImageTwoColumn"
        class="cmp-ti2c"
        data-sly-use.text="bbby/components/content/text/text.html"
        data-sly-use.image="bbby/components/content/image/image.html"
        data-sly-use.cta="bbby/components/content/cta/cta.html"
        data-sly-use.textModel="com.adobe.cq.wcm.core.components.models.Text"
        data-sly-use.ctaModel="com.bbby.aem.core.models.component.Cta">

        <div class="container">
            <div class="row align-items-center">

                <!--/* IMAGE COLUMN */-->
                <div class="col-md-6 ${model.imageColClasses} column-ti">
                    <sly data-sly-call="${image.renderImage @ model=model}"/>
                </div>

                <!--/* TEXT COLUMN */-->
                <div class="col-md-6 ${model.textColClasses} column-ti">
                    <div class="titles-column">
                        <p data-sly-test="${model.superTitle}" class="super">${model.superTitle}</p>
                        <h5 data-sly-test="${model.title}">${model.title}</h5>
                    </div>
                    <sly data-sly-call="${text.renderText}"/>
                    <sly data-sly-call="${cta.renderCta}"/>
                </div>

            </div>
        </div>
    </section>

    <!--/* Placeholder */-->
    <sly data-sly-use.common="core/wcm/components/commons/v1/templates.html"
         data-sly-call="${common.placeholder @ isEmpty=!textModel.text && !ctaModel.ctaList && !model.fileReference && !model.title && !model.superTitle, emptyTextAppend=resource.name}"></sly>

</template>

<sly data-sly-use.background="bbby/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ contentTemplate=renderTextImageTwoColumn}" />

