# Configuration created by Apache Sling JCR Installer
queue.name="Granite\ Transient\ Workflow\ Queue\ for\ bbby\ Project\ Cleanup"
queue.priority="MIN"
queue.maxparallel=D"4602678819172646912"
queue.topics=["com/adobe/granite/workflow/job/var/workflow/models/project_cleanup"]
queue.retries=I"0"
queue.preferRunOnCreationInstance=B"true"
queue.threadPoolSize=I"0"
queue.retrydelay=L"2000"
service.ranking=I"1"
queue.type="UNORDERED"
queue.keepJobs=B"false"
