# Configuration created by Apache Sling JCR Installer
queue.name="Granite\ Transient\ Workflow\ Queue\ for\ bbby\ Sorting\ Hat"
queue.priority="MIN"
queue.maxparallel=D"4602678819172646912"
queue.topics=["com/adobe/granite/workflow/job/var/workflow/models/bbby-sorting-hat"]
queue.retries=I"5"
queue.preferRunOnCreationInstance=B"true"
queue.threadPoolSize=I"0"
queue.retrydelay=L"2000"
service.ranking=I"1"
queue.type="UNORDERED"
queue.keepJobs=B"false"
