# Configuration created by Apache Sling JCR Installer
org.apache.felix.eventadmin.AsyncToSyncThreadRatio=D"4602678819172646912"
org.apache.felix.eventadmin.IgnoreTopic=[""]
org.apache.felix.eventadmin.RequireTopic=B"true"
org.apache.felix.eventadmin.IgnoreTimeout=["org.apache.felix*","org.apache.sling*","com.day*","com.adobe*"]
org.apache.felix.eventadmin.Timeout=I"0"
org.apache.felix.eventadmin.ThreadPoolSize=I"20"
