# Configuration created by Apache Sling JCR Installer
queue.name="Granite\ Transient\ Workflow\ Queue\ for\ BBBY\ Approve\ AND\ Publish\ Beta\ WF"
queue.priority="MIN"
queue.maxparallel=D"4602678819172646912"
queue.topics=["com/adobe/granite/workflow/job/var/workflow/models/bbby-approve-and-publish--beta-"]
queue.retries=I"3"
queue.preferRunOnCreationInstance=B"true"
queue.threadPoolSize=I"0"
queue.retrydelay=L"3000"
service.ranking=I"1"
queue.type="UNORDERED"
queue.keepJobs=B"false"
