<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;${resource.name} <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>

<!--/*
    Main HTL template for the carousel component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderCarousel>
    <section data-sly-use.model="com.bbby.aem.core.models.component.Carousel"
        class="cmp-carousel owl-carousel owl-theme ${model.dots ? 'cmp-carousel--has-dots' : ''} ${model.arrows ? 'cmp-carousel--has-arrows' : ''} ${model.moveDotsUp ? 'cmp-carousel--has-dots-up' : ''}"
        data-owl="${model.carouselConfigAttribute @ context='attribute'}">

          <sly data-sly-resource="${'slides' @ resourceType='bbby/components/content/carousel/parsys'}" />

    </section>
</template>

<sly data-sly-use.background="bbby/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ contentTemplate=renderCarousel}" />

<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;${resource.name} <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></span>
