<div class="site-wrapper">

    <!--/* Exclude Header */-->

    <div class="site-content">

        <span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;Body <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>
        <sly data-sly-include="bodycontent.html"></sly>
        <span class="edit-end container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;Body <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></span>

    </div>

    <!--/* Exclude Footer */-->

</div>
